# /etc/systemd/system/jm_hs_mainnet.service
[Unit]
Description=JM mainnet directory node
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /home/jmdir/joinmarket-clientserver && \
 source jmvenv/bin/activate && cd scripts && python start-dn.py'
User=jmdir

[Install]
WantedBy=multi-user.target
