# /etc/systemd/system/jmdir_signet.service
[Unit]
Description=JM signet directory node
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /home/joinmarket/joinmarket-clientserver \
&& source jmvenv/bin/activate && cd scripts &&  \
python start-dn.py --datadir=/home/${user}/.joinmarket-signet signet-directory-node'
User=joinmarket
Restart=always

[Install]
WantedBy=multi-user.target
